@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$colorBlue:#00A1DE;
$colorNavy:#0B5DA0;
$colorDarkerNavy:#155288;
$colorDarkBlue:#21446a;
$colorWhite:#ffffff;
$colorOrange:#FF3F00;
$colorGrey:#eee;
$colorLightGrey:#f1f1f1;
$colorMediumGrey:#f7f7f7;
$colorDarkGrey:#cccccc;
$colorDarkerGrey:#aaaaaa;
$colorDarkestGrey:#666666;
$colorGreen:#A1DD00;

// iconsizes
$iconLarge:24px;
$iconMedium:20px;
$iconSmall:16px;






// mixens
@mixin animateAll{
	transition: all 200ms ease-in-out;
}

@mixin remove{
	transition: all 200ms ease-in-out;
}




// defaults
html,body{
    height: 100%;
}
body{
    border-top: 7px solid $colorBlue;
    background: $colorLightGrey;
    font-family: 'Roboto';
    color: $colorDarkestGrey;
}

a{
    color: $colorBlue;
    @include animateAll;

    &:hover{
      text-decoration: none;
      color: $colorNavy;
    }
}

button{
    outline: none!important;
}


h3{
    font-size: 20px; 
    font-weight: normal;
}


// paddings
$boxPadding: 40px;
$paddingSmall:10px;
$paddingMedium:20px;
$paddingLarge:30px;
$paddingXLarge:40px;
$paddingXXLarge:50px;
$paddingXXXLarge:60px;

// grid ajustments
.row-no-padding {
  margin-left: 0;
  margin-right: 0;
  >[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


.row{
    [class*=col-]{
        .whitebox{
            margin: 10px 5px;
        }

        &:first-child{
            .whitebox{
                margin-left: 10px;
            }
        }
        &:last-child{
            .whitebox{
                margin-right: 10px;
            }
        }

    }
}


// form
form{
    .error{
        input, .glyphicon{
            color: $colorOrange!important;
        }
        
    }
    label{
        font-size: 16px;
        font-weight: normal;
        color: #888;
        font-style: italic;
    }
}

.form-control{
    border-color: $colorMediumGrey;
    box-shadow: none;
    height: 40px;
    font-size: 18px;
    font-style: italic;
    color: $colorDarkerGrey;

    &::-webkit-input-placeholder{
        color: $colorDarkGrey;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $colorDarkGrey; 
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $colorDarkGrey; 
    }

    &:-ms-input-placeholder {  
       color: $colorDarkGrey; 
    }


}

.form-group{
    button{
        margin-top: 10px;
    }
}


.input-group-addon{
    background: $colorMediumGrey;
    border-color: $colorMediumGrey;
    padding: 6px 18px;

    &.no-icon{
        color: $colorDarkerGrey;
        font-size: $iconSmall;
        font-weight: 500;
    }
}

// buttons
.btn{
    border-radius: 8px;
    @include animateAll;
    text-transform: uppercase;
    border:none;
    padding: 6px 20px;
    font-weight: 500;
}
.btn-blue{
    color: $colorWhite!important;    
    background: $colorBlue;
    &:hover, &:active,&:link, &:visited, &:target,&:focus{
        background: $colorNavy!important;
    }
}

.btn-grey{
    color: $colorDarkestGrey!important;    
    background: $colorGrey;
    &:hover, &:active,&:link, &:visited, &:target,&:focus{
        background: $colorDarkGrey!important;
    }
}





.tooltip{
    &.bottom{
        .tooltip-arrow{
            border-bottom-color:$colorGreen;
        }
    }
    &.top{
        .tooltip-arrow{
            border-top-color:$colorGreen;
        }
    }
    &.left{
        .tooltip-arrow{
            border-left-color:$colorGreen;
        }
    }
    &.right{
        .tooltip-arrow{
            border-right-color:$colorGreen;
        }
    }


    .tooltip-inner{
        background: $colorGreen;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 10px;
    }
    
}


.wrapper{

    height: 100%;
    display: flex;

    // home
    &.login{         
        align-items: center;
        justify-content: center;
    }

    .login-wrap{      
        width: 440px;
        margin-top: -160px;
        text-align: center;

        .glyphicon{
            font-size: $iconSmall;
            color: $colorDarkGrey;
        }

        button{
            padding:8px 60px; 
            margin-top: 25px;
        }

        .whitebox{
            margin-top: 40px;
            padding: $boxPadding;
            position: relative;           

        }

        .password-reset{
            font-size: 18px;
            display: block;
            padding-top: 20px;
            font-style: italic;
            font-size: 15px;

            span.glyphicon{
                background: $colorMediumGrey;
                padding: 12px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }

    }
}


.dashboard{
    >.col{
        flex: 240px 0 0;

        .bar{
            height: 60px;
        }
    }

    > .leftcol{ 
        background: $colorNavy url('../images/embBig.png') no-repeat center 95%;
        background-color: $colorNavy;
        
        
        .bar{
            display: table;
            width: 100%;

            img{
                margin-right: 5px;
            }
            .header{
                display: table-cell;
                font-size: 13px;
                color: $colorGrey;
                text-transform: uppercase;
                padding: 0 20px;
                vertical-align: middle;
                border-bottom: 1px solid rgba(255,255,255,.2);
                .glyphicon {
                    float: right;
                    font-size: $iconMedium;
                    top: 8px;
                }
            }
        }

        
    }

    > .rightcol{
        flex: auto;
        .bar{
            background: $colorWhite;
            border-bottom: 1px solid $colorGrey;
            display: flex;
            padding: 0 20px;

            &.pageheader{
                align-items: center;
                h3{
                    padding: 0;
                    margin: 0;
                    flex: auto;
                    color:#666666;
                }
                .breadcrumb{
                    flex:auto;
                    margin: 0;
                    background: none;
                    padding: 0;
                    color: #bbb;
                }
            }

            .glyphicon {
                font-size: $iconLarge;
            }

            .col{
                flex: auto;
            }
            >.leftcol{
                flex: 0 1;
            }

            >.rightcol{
                flex: 1 0;
                >div{
                    display: inline-block;
                    margin: 10px 20px 0 20px;
                }

                .account{
                    margin-right: 0;
                }
            }

            .search{
                background: $colorMediumGrey;
                border-radius: 40px;
                padding: 5px 10px 5px 20px;
                input{
                    height: auto;
                    padding: 0;
                    border: none;
                    background: none;
                    outline: none;
                }
                button{
                    background: none;
                    border: none;
                    .glyphicon{
                        color: $colorDarkerGrey;
                        font-size: $iconMedium;
                        top: 3px;
                    }
                }
            }

            

            .user{
                
                color:$colorBlue;
                .glyphicon{
                    color: $colorGreen;
                    top: 5px;
                    margin-right: 5px;
                }
                .glyphicon-menu-down{
                    color:$colorGrey;
                    font-size: $iconMedium;
                    margin-right: 0;
                    margin-left: 10px;
                    top: 4px;
                }

                &.dropdown:after{
                    top: 8px;
                }
            }

            .notifications{
                display: table;
                height: 100%;
                .notification{
                    display: table-cell;
                    padding: 0 20px;
                    vertical-align: middle;
                    &:first-child{
                        padding-left: 0;
                    }
                    .glyphicon{
                        color: $colorDarkGrey;
                    }                    

                    .count{
                        position: absolute;
                        color: $colorWhite;
                        font-family: 'Roboto';
                        font-size: 14px;
                        padding: 4px;
                        width: 22px;
                        border-radius: 50%;
                        text-align: center;
                        top: -10px;
                        right: -18px;

                        &.green{
                            background: $colorGreen;
                        }
                        &.orange{
                            background: $colorOrange;
                        }
                    }

                }
            }
            
        }

        >.whitebox{
            margin: 10px;
        }
    }

}


.blueborder{
    height: 7px;
    background: $colorBlue;
}
   

.whitebox{

    background: $colorWhite;
    border:1px solid $colorGrey;

    .boxheader{
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid $colorGrey;
        >h3,>.options{
            flex: 1 0;
        }
        h3{
            padding: 0;
            margin: 0;
            flex: 1 0;
        }

        .options{
            flex: 0 1;                    
            .glyphicon{
                font-size: $iconLarge;
                color: $colorDarkerGrey;
                top: 3px;
            }
        }
    }

    .boxbody{
        padding: $paddingMedium;
    }

    table{ 
        margin-bottom: 0;
    }
}   






// menu
.main-menu{
    ul{
        list-style: nonel;
        padding: 0;
        margin: 0;

        li.active{
            a{
                background: $colorDarkBlue;
            }
        }

        > li{
            border-bottom: 1px solid rgba(255,255,255,0.2);
            position: relative;



            ul{
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                @include animateAll;
            }

            &:hover{
                > a{
                    background: $colorDarkerNavy;
                }
                
                ul{
                    opacity: 1;
                    max-height: 500px;
                }
            }

            &:before, &.has-children:after{
                position: absolute;
                font-family: 'Glyphicons Halflings';
                color: $colorGrey;
                font-size: 16px;
            }
            &:before{
                content: "\e142";                
                left: 15px;
                top: 10px;
            }
            &.has-children:after{
                content: "\e259";
                right: 15px;
                top: 10px;
            }

            a{
                display: block;
                padding: 10px 46px;
                color: $colorGrey;
                font-size: 16px;
            }

            li {
                border-top: 1px solid rgba(255,255,255,0.2);
                border-bottom: none;
                a{
                    padding-left: 56px;
                }

                 &:before{
                     left: 20px;
                 }
            }
        }
        
    }
}

.dropdown{
    position: relative;
    padding-right:30px;
    ul{
        opacity:0;
        max-height: 0;
        overflow: hidden;
        position: absolute; 
        right: -20px;
        top:100%;
        margin: 0;
        padding: 0;
        list-style: none;
        background: $colorWhite;
        @include animateAll;
        z-index: 1;
        li{
            border-bottom:1px solid $colorGrey;
            a{
                display: block;
                padding: 8px 20px;
                white-space: nowrap;
            }
        }
    }

    &:hover{
        ul{
            opacity: 1;
            max-height: 500px;
        }
    }

    &:after{
        content: "";
        position: absolute;
        font-family: 'Glyphicons Halflings';
        color: $colorGrey;
        font-size: 16px;
        content: "\e259";
        right: 0px;
        top: 5px;
    }

}

table.table{
    >thead{
        >tr{
            >th{
                border-bottom: 1px solid $colorGrey;
            }
        }
    }
    >tbody{
        >tr{
            >td, >th{
                border-top:1px solid $colorGrey;
            }
        }        
    }
}